workflow.json
{
  "name": "AI Job Monitor Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -32
      ],
      "id": "e026e03d-d1e5-4807-9415-e711ae7143ba",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://remoteok.com/api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        -32
      ],
      "id": "7db313d8-f15b-4480-a0ee-95d27655205d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all();\n\nconst relevant = jobs.filter(item => {\n  const tags = item.json.tags || [];\n  const position = (item.json.position || '').toLowerCase();\n  \n  const keywords = ['ai', 'automation', 'python', 'n8n', 'machine learning',\n                    'backend', 'developer', 'engineer'];\n  \n  const excluded = ['senior', 'lead', 'manager', 'director', \n                    'head', 'principal', 'staff', 'vp', 'chief'];\n  \n  const isRelevant = keywords.some(k =>\n    position.includes(k) || tags.some(t => t.toLowerCase().includes(k))\n  );\n  \n  const isTooSenior = excluded.some(e => position.includes(e));\n  \n  return isRelevant && !isTooSenior;\n});\n\nreturn relevant.slice(0, 5).map(item => ({\n  json: {\n    position: item.json.position,\n    company: item.json.company,\n    tags: item.json.tags,\n    url: `https://remoteok.com/remote-jobs/${item.json.slug}`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -32
      ],
      "id": "59cdf071-75d3-45f1-bf92-536a334337b6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a job matching assistant.\n\nHere is a job listing:\nPosition: {{ $json.position }}\nCompany: {{ $json.company }}\nTags: {{ $json.tags.join(', ') }}\n\nScore this job for a junior developer with these skills: \nn8n automation, AI workflows, Python basics, FastAPI, remote work only.\n\nIMPORTANT RULES:\n- If the role is sales, marketing, recruiting, HR, finance, or non-technical → always ❌ Skip\n- If the role requires 3+ years experience → always ❌ Skip\n- Only score ✅ Great fit if it's a technical junior/entry role matching the skills above\n\nReply with STRICT JSON ONLY:\n{\n  \"score\": \"✅ Great fit\" or \"👀 Maybe\" or \"❌ Skip\",\n  \"reason\": \"One sentence explanation\"\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        -32
      ],
      "id": "e1b905dc-d940-457c-b27b-efbed7dac392",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        176
      ],
      "id": "6de412a7-bf26-4728-8677-634eb5c3400d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iXaIt6HIOgSsNFvW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6669892174",
        "text": "=🤖 Job Match Found!\n\n💼 {{ $('Code in JavaScript').item.json.position }}\n🏢 {{ $('Code in JavaScript').item.json.company }}\n🔗 {{ $('Code in JavaScript').item.json.url }}\n\n{{ JSON.parse($json.text.replace(/```json|```/g, '').trim()).score }}\n📝 {{ JSON.parse($json.text.replace(/```json|```/g, '').trim()).reason }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        -224
      ],
      "id": "296df221-969e-46d4-9650-86a0b4f9251d",
      "name": "Send a text message",
      "webhookId": "a0f57340-d741-4889-bccd-714112e7c629",
      "credentials": {
        "telegramApi": {
          "id": "b65wWxIeKQios6G6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k93iMyNWddfdktVOVYXbjnAHz7xsaiLfqfM0RNBHaC4",
          "mode": "list",
          "cachedResultName": "Job Monitor Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k93iMyNWddfdktVOVYXbjnAHz7xsaiLfqfM0RNBHaC4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k93iMyNWddfdktVOVYXbjnAHz7xsaiLfqfM0RNBHaC4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Position": "={{ $('Code in JavaScript').item.json.position }}",
            "Company": "={{ $('Code in JavaScript').item.json.company }}",
            "Score": "={{ $('Basic LLM Chain').item.json.text.replace(/```json|```/g, '').trim() ? JSON.parse($('Basic LLM Chain').item.json.text.replace(/```json|```/g, '').trim()).score : '' }}",
            "Reason": "={{ $('Basic LLM Chain').item.json.text.replace(/```json|```/g, '').trim() ? JSON.parse($('Basic LLM Chain').item.json.text.replace(/```json|```/g, '').trim()).reason : '' }}",
            "URL": "={{ $('Code in JavaScript').item.json.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        -224
      ],
      "id": "a3ff96fa-526f-4b3b-baaf-f41fe0e6b74a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4IKdAArhsftdM7rw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a78d7fca-216a-4c58-a8ab-b1e3c94621c2",
              "leftValue": "={{ JSON.parse($json.text.replace(/```json|```/g, '').trim()).score }}",
              "rightValue": "❌",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        -32
      ],
      "id": "34985868-cdf9-4797-84f2-9b8fcd33d384",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2b5b4dd7-c41b-4491-a29b-d10639adf402",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41e039cedb3a36a88c7cb06e1c01ecdba11906eba63c30992aded5ab7e47dc72"
  },
  "id": "Rgb_Wz-mL-18P-NO7fcC5",
  "tags": []
}